body {
    width: 700px;
    margin: 0 auto;
    background-color: #494a4d;
}

h1 {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #ffffff;
}

.info-text {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.info-text:hover {
    color: #f0a500;
}

.planets-div {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.planets-div img{
    border-radius: 110px;
}

.earth-img {
    width: 200px;
    height: auto;
}

.moon-img {
    width: 125px;
    height: auto;
}

.active-img {
    border: 5px solid #931111;
}

.planets-div img:hover {
    transform: scale(1.1);
}

